body {
  background-color: #0c2233;
  width: 400px;
}

.title {
  padding: 0 5px;
}

.color-primary {
  color: #0a91ab;
}

.custom-link,
.color-secondary {
  color: #ffc045;
}

.info-text-list {
  padding: 0 20px;
}

.info-text {
  padding: 5px;
}

.container {
  padding: 20px;;
}
